<div class="d-flex h-92">
    <div class="col-3 bg-dark text-light h-100 p-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-inbox-fill" viewBox="0 0 16 16"><path d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4H4.98zm-1.17-.437A1.5 1.5 0 0 1 4.98 3h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374l3.7-4.625z"/>
              </svg><span class="ps-2">Inbox</span></a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg><span class="ps-2">Sent</span></a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg><span class="ps-2">Deleted</span></a>
          </div>
    </div>

    <div class="container p-4 w-100">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr> <th>From</th> <th>Subject</th> <th>Body</th> </tr>
                    </thead>
                    <tbody>
                        <tr> <td>Remus-Nicolae</td> <td>Mail1</td> <td>Ceva text</td> </tr>
                        <tr> <td>Norbert</td> <td>Mail2</td> <td>Super Important</td>  </tr>
                        <tr> <td>Marcela</td> <td>Mail3</td> <td>Nigerian Prince</td> </tr>
                        <tr> <td>Adriana</td> <td>Mail4</td> <td>Examen</td> </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr> <th>To</th> <th>Subject</th> <th>Body</th> </tr>
                    </thead>
                    <tbody>
                        <tr> <td>Remus-Nicolae</td> <td>Mail1</td> <td>Ceva text</td> </tr>
                        <tr> <td>Norbert</td> <td>Mail2</td> <td>Super Important</td>  </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr> <th>From</th> <th>Subject</th> <th>Body</th> </tr>
                    </thead>
                    <tbody>
                        <tr> <td>Marcela</td> <td>Mail3</td> <td>Nigerian Prince</td> </tr>
                    </tbody>
                </table>
            </div>
          </div>
    </div>
</div>